@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

a:hover{
    color: inherit;
}
.section{
    color: white;
    position: relative;
    z-index: 0;   
}
.resume_btn{
    position: fixed;
    bottom: 30px;
    right: 5vw;
    font-size: 22px;
    border: 1px solid white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5!important;
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.resume_btn:hover{
    background-color: white;
    color: black;
}
/*
.section.s1{
    background-color: rgb(32,33,36);
}
.section.s2{
    background-color: rgb(26,43,86);
}
.section.s3{
    background-color: hsl(197, 95%, 22%);
}
.section.s4{
    background-color: rgb(25,70,137);
} */
ul li a span{
    background-color: white!important;
}
.container-fluid{
    padding: 30px 80px;
}
.s1{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.s1 .image_cont{
    display: grid;
    place-items: center;
    position: relative;
}
.s1 .image_cont span{
    position: absolute;
    top: 0;
    height: 370px;
    width: 370px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.15);
    animation: imgblob 40s linear infinite;
}
@keyframes imgblob {
    0%,100%{
        border-radius: 64% 36% 27% 73% / 55% 58% 42% 45%;
    }
    10%{
        border-radius: 73% 27% 26% 38% / 73% 36% 64% 27%;
    }
    20%{
        border-radius: 28% 72% 44% 56% / 49% 40% 60% 51%;
    }
    30%{
        border-radius: 40% 60% 70% 30% / 47% 62% 38% 53%;
    }
    40%{
        border-radius: 63% 20% 32% 28% / 63% 46% 54% 47%;
    }
    50%{
        border-radius: 38% 62% 24% 46% / 29% 60% 30% 51%;
    }
    60%{
        border-radius: 48% 69% 40% 60% / 27% 42% 78% 83%;
    }
    70%{
        border-radius: 63% 37% 46% 78% / 63% 46% 24% 47%;
    }
    80%{
        border-radius: 38% 62% 34% 56% / 29% 50% 40% 71%;
    }
    90%{
        border-radius: 30% 80% 40% 20% / 27% 32% 88% 43%;
    }
}
.s1 .image_cont .img{
    z-index: 2;
    height: 300px;
    width: 300px;
    background-image: url('images/DP.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white
}
.s1 .content_cont .heading{
    font-size: 42px;
    font-family: 'Catamaran', sans-serif;
}
.s1 .content_cont .content div,
.s1 .content_cont .content a{
    margin-top: 15px;
    font-size: 28px;
    text-transform: uppercase;
    font-family: 'Genos', sans-serif;
}
.s1 .content_cont .content .download_cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.s1 .content_cont .content .download_cont a{
    font-size: 24px;
    font-weight: 500;
    padding: 7px 40px;
    border-radius: 50px;
    border: 1px solid white;
    transition: 0.5s cubic-bezier(.12,.49,.52,.9);
}
.s1 .content_cont .content .download_cont a:hover{
    color: rgb(32,33,36);
    background-color: white;
}
.s1 .content_cont .content .download_cont a i{
    font-size: 16px;
    margin-left: 15px;
}
.s2, .s3, .s4{
    position: relative;
    padding-block: 8vh;
}
.s2 .container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.s2 .h2{
    margin-bottom: 50px;
}
.s2 .col-6,
.s2 .col-12{
    padding: 0!important;
}
.s2 .lang_anim{
    width: 100%;
}
.s2 .lang{
    margin: 3px;
    border-radius: 5px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
}
.s2 .lang .details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.s2 .lang .details i{
    margin-bottom: 10px;
    font-size: 45px;
}
.s2 .lang .details img{
    margin-bottom: 10px;
}
.s2 .lang .details .name{
    font-size: 20px;
}
.s2 .lang .rating span{
    font-size: 18px;
}
.s2 .lang.mongo{
    background-color: rgb(63, 160, 55, 0.8);
}
.s2 .lang.exp{
    background-color: rgba(128, 128, 128, 0.8);
}
.s2 .lang.react{
    background-color: rgba(0, 206, 242, 0.8);
}
.s2 .lang.node{
    background-color: rgba(61, 135, 58, 0.8);
}
.s2 .lang.html{
    background-color: rgba(227, 76, 38, 0.8);
}
.s2 .lang.css{
    background-color: rgba(36, 72, 216, 0.8);
}
.s2 .lang.js{
    background-color: rgba(240, 218, 79, 0.8);
}
.s2 .lang.bootstrap{
    background-color: rgba(84, 60, 123, 0.8);
}
.s2 .lang:hover{
    transform: scale(1.01);
}

.s3 .heading{
    text-align: center;
    margin-bottom: 60px;
}
.s3 .proj_sec .slider_card{
    margin-block: 20px;
}
.s3 .swiper-slide {
    background-position: center;
    background-size: cover;
    height: 400px;  
    border-radius: 5px;
}
.s3 .swiper-slide:hover{
    color: white;
}
.s3 .swiper-slide .slider_card{
    height: inherit;
    position: relative;
    transition: 0.5s ease-in-out;
    overflow: hidden;
    border-radius: 10px;
}
.s3 .swiper-slide .slider_card > img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: inherit;
    width: 100%;
    object-fit: cover;
    z-index: 2;
    object-position: center;
    transition: 0.5s ease-in-out;
}
.s3 .swiper-slide .slider_card:hover > img{
    transform: scale(1.04);
}
.s3 .swiper-slide .slider_card .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(39, 39, 39, 0.5);
}
.s3 .swiper-slide .slider_card:hover{
    transform: scale(1.01);
}
.s3 .swiper-slide .slider_card .overlay .project_name{
    font-size: 24px;
}
.s3 .swiper-slide .slider_card .overlay .desc{
    font-size: 20px;
    padding-block: 10px;
}
.s3 .swiper-slide .slider_card .overlay .tech{
    padding-bottom: 15px;
    font-size: 18px;
}
.s3 .swiper-slide .slider_card .overlay .view_btn{
    font-size: 16px;
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 50px;
    transition: 0.5s ease-in-out;
}
.s3 .swiper-slide .slider_card:hover .overlay .view_btn{
    background-color: white;
    color: black;
}
.s4 .social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.s4 .social a{
    height: 60px;
    width: 60px;
    margin: 0 30px;
    position: relative;
}
.s4 .social a span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(128, 128, 128, 0.5);
    font-size: 28px;
    transition: 0.5s ease-in-out;
}
.s4 .social a:hover span{
    z-index: 1000;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.05);
}
.s4 .social a:hover span:nth-child(3){
    transform: translate(15px, -15px);
    opacity: 0.7;
}
.s4 .social a:hover span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.6;
}
.s4 .social a:hover span:nth-child(1){
    transform: translate(5px, -5px);
    opacity: 0.5;
}
.s4 .social a:nth-child(1) span{
    background-color: #40008a;
}
.s4 .social a:nth-child(2) span{
    background-color: #00bb45;
}
.s4 .social a:nth-child(3) span{
    background-color: #BB001B;
}
.s4 .social a:nth-child(4) span{
    background-color: #0077b5;
}
.s4 .social a:nth-child(5) span{
    background-color: #000000;
}

.form{
    width: 600px;
    position: relative;
    height: 70px;
    overflow: hidden;
    font-size: 18px;
    color: white;
    margin-top: 20px;
}
.form input{
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    padding-bottom: 2px;
    border: none;
    outline: none;
    padding-left: 5px;
    background: rgba(255, 255, 255, 0);
}
.form label{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid white;
}
.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
}

.content-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.3s ease;
    font-weight: 500;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
    transform: translateY(-125%);
    font-size: 18px;
    color: white;

}

.form input:focus + .label-name::after, 
.form input:valid + .label-name::after{
    transform: translateX(0%);
}

textarea{
    margin-top: 30px;
    width: 600px;
    height: 120px;
    padding: 8px 15px;
    font-size: 18px;
    border: 2px solid white;
    box-shadow: 0 0 10px rgba(211, 211, 211, 0.2);
    border-radius: 5px;
    background: rgba(245, 245, 245, 0);
    color: white;
    outline: none;
}

textarea::placeholder{
    color: rgb(226, 226, 226);
}

.form_cont .msg_cont{
    padding: 30px 5px;
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 600px;
    position: relative;
    overflow: hidden;
}
.form_cont .msg_btn{
    font-size: 18px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 7px 40px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    margin-right: 15px;
}
.form_cont .msg_btn:hover{
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    color:#03506F;
}
.form_cont .msg_btn i{
    margin-left: 10px;
}
.form_cont .confir{
    margin-left: 10px;
    opacity: 0;
    transform: translateY(+150%);
    transition: 0.5s ease-in-out;
}
.form_cont .confir.active{
    opacity: 1;
    transform: translateY(0%);
}
.form_cont .msg_cont .confir.active span{
    opacity: 1;
    color: rgb(81, 255, 81);
}
.form_cont .msg_cont .confir.error span{
    color: #ff4661;
}
.s2 .slide{
    display: none;
    justify-content: center;
    align-items: center;
}
.fp-controlArrow, .fp-slidesNav{
    display: none;
}
@media only screen and (max-width: 1000px) {
    .s1 .image_cont .img{
        height: 250px;
        width: 250px;
    }
    .s1 .content_cont .heading{
        font-size: 36px;
    }
    .s1 .content_cont .content div{
        margin-top: 15px;
        font-size: 22px;
    }
    .s2 .lang_cont.large{
        display: none;
    }   
    .s2 .slide{
        display: flex;
        padding: 0 5vw;
    }
    .s2 .lang{
        height: 150px;
    }
    .s2 .lang .details{
        margin-bottom: 10px;
    }
    .s2 .lang .details i{
        margin-bottom: 10px;
        font-size: 30px;
    }
    .s2 .lang .details img{
        margin-bottom: 10px;
        height: 34px;
    }
    .s2 .lang .details .name{
        font-size: 16px;
    }
    .s2 .lang .rating span{
        font-size: 14px;
    }
    .s2 .lang .rating i{
        font-size: 14px;
    }
    .fp-slidesNav{
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 800px) {
    .s1 .image_cont .img{
        height: 200px;
        width: 200px;
    }
    .s1 .image_cont span{
        height: 270px;
        width: 270px;
    }
    .form, textarea, .form_cont .msg_cont{
        width: 95%;
    }
    .s1 .content_cont .heading{
        margin-top: 30px;
        font-size: 28px;
    }
    .s1 .content_cont .content div{
        margin-top: 15px;
        font-size: 18px;
    }   
    .s4 .b1{
        display: none;
    }
    .s1 .content_cont .content .download_cont a{
        font-size: 18px;
        padding: 7px 30px;
        border-radius: 50px;
    }
    .s2 .h2, .s3 .h2, .s4 .h2{
        font-size: 28px;
    }
    .section .resume_btn{
        font-size: 18px;
        height: 40px;
        width: 40px;
    }
}
@media only screen and (max-width: 500px) {
    .container-fluid{
        padding: 30px 40px;
    }
    .s1 .image_cont .img{
        height: 150px;
        width: 150px;
    }
    .s1 .image_cont span{
        height: 170px;
        width: 170px;
    }
    .s1 .content_cont .heading{
        margin-top: 50px;
        font-size: 22px;
    }
    .s1 .content_cont .content .download_cont a{
        font-size: 16px;
        font-weight: 500;
        padding: 7px 30px;
    }
    .s1 .content_cont .content .download_cont a i{
        font-size: 12px;
        margin-left: 10px;
    }
    .s1 .content_cont .content div{
        margin-top: 15px;
        font-size: 16px;
    }
    .form_cont .msg_btn{
        font-size: 16px;
        border: 1px solid white;
        padding: 7px 30px;
        margin-right: 5px;
    }
    .form_cont .confir{
        font-size: 14px;
    }
    .form,
    .form input:focus + .label-name .content-name,
    .form input:valid + .label-name .content-name{
        font-size: 16px;
    }
    textarea{
        padding: 8px;
        font-size: 16px;
        border: 1px solid white;
        box-shadow: 0 0 10px rgba(211, 211, 211, 0.1);
    }
    .s4 .social{
        margin-top: 50px;
    }
    .s4 .social a{
        height: 30px;
        width: 30px;
        margin: 0 20px;
    }
    .s4 .social a span{
        color: white;
        background-color: rgba(128, 128, 128, 0.5);
        font-size: 15px;
        transition: 0.5s ease-in-out;
    }
    .s2 .h2, .s3 .h2, .s4 .h2{
        font-size: 24px;
    }
    .s2 .lang .rating i{
        font-size: 10px;
    }
}